main {
	width: 520px;
	display: flex;
	flex-flow: column nowrap;
	gap: 30px;
	margin: 0 auto;
}

#newTask {
	@include listItem;
	border-radius: 6px;

	&>:nth-child(2) {
		flex-grow: 1;
	}
}

.checkMark {
	@include checkBox;
	width: 20px;
	height: 20px;
}

.action, .action.material-symbols-rounded {
	display: none;
	font-weight: 300;
	color: var(--dark-grayish-blue);
	cursor: pointer;
}

p.info {
	margin: 30px auto 50px;
	text-align: center;
}

.insertAbove {
	margin-top: 30px;
}

.insertBelow {
margin-bottom: 30px;
}