input[type="text"] {
	border: none;
	vertical-align: bottom;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: var(--dark-grayish-blue);
	}
}

input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--light-grayish-blue);
	border-radius: 50%;
	background-color: var(--very-light-grayish-blue);
	vertical-align: text-bottom;
	position: absolute;
	z-index: 2;

	&:hover {
		border-color: transparent;
		background-clip: padding-box;
	}

	&:checked {
		background-color: transparent;
		border: none;
	}
}