@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	color: var(--very-dark-grayish-blue);
}

h1 {
	font-size: 2rem;
	letter-spacing: 15px;
	font-weight: 700;
	color: var(--very-light-gray);
	text-transform: uppercase;
}

.material-symbols-rounded {
	font-variation-settings:
		'FILL' 0,
		'wght' 200,
		'GRAD' 0,
		'opsz' 24
}

footer {
	font-size: 0.8rem;
	color: var(--dark-grayish-blue);
	text-align: center;

	a {
		text-decoration: none;
		font-size: 1em;
		font-weight: 700;
		color: var(--bright-blue);

		&:visited {
			color: var(--bright-blue);
		}
	}
}

p.info {
	text-align: center;
	font-size: 0.8rem;
	color: var(--dark-grayish-blue);
}